$backgroundColor: #566A81;
$logoColor: #ffffff;
$itemColor: #566A81;
$textColor: #ffffff;
$inactiveColor: #aacdcf;
// rgb(144, 69, 227)

// results item
$itemHoverColor: #3e4c5a;
$itemActiveColor: #34495E;
$itemTextColor: #212f3c;
$itemTextHoverColor: #ecf0f1;
$itemTextActiveColor: #C4D9F3;

// torrent page
$torrentTextColor: #ecf0f1;
$torrentInfoColor: rgba(#cccccc, 0.1);

// side bar
$hamburgerLinesColor: #ffffff;
$sidebarColor: #3a4d60;
$sidebarItemsBackground: #5278a6;
