$backgroundColor: #566A81;
$logoColor: #ffffff;
$itemColor: #566A81;

// results item
$itemHoverColor: #798EA5;
$itemActiveColor: #34495E;
$itemTextColor: #212f3c;
$itemTextHoverColor: #ecf0f1;
$itemTextActiveColor: #C4D9F3;

// torrent page
$torrentTitleColor: #ecf0f1;
$torrentInfoColor: rgba(#cccccc, 0.1);
