@import '~antd/dist/antd.css';
@import '~react-dropdown/style.css';
@import './colors';
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');

body {
  background-color: $backgroundColor;
}
#app-root {
  height: 100%;
  width: 100%;
}
.main-page {
  height: calc(100% - 60px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10%;
}
.logo-area {
  font-family: 'Lobster', cursive;
  font-size: 70px;
  color: $logoColor;
  margin-left: 20%;
}
.content {
  width: 150px;
  .main-wrapper {
    margin-right: 120px;
    flex-direction: column;
    align-items: center;
    .select {
      margin-bottom: 10px;
    }
  }
}
.search-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 25px;
}
.select {
  min-width: 320px;
}
.ant-btn-primary {
  margin-left: 10px;
}
.ant-input {
  margin-left: 13px;
  min-width: 150px;
}
.credit {
  margin-left: 19px;
  font-size: 35px;
  color: $logoColor;
  font-family: 'MonteCarlo', cursive;
}
.navigation {
  margin-top: 10px;
  margin-left: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  width: fit-content;
}
