@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import './colors';

.torrent-main {
  height: calc(100% - 60px);
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  #torrent-input {
    max-width: 40px;
  }
}
.download-wrapper {
  padding: 80px 0 0 80px;
  min-width: 30%;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.download-title {
  font-family: 'Oswald', sans-serif;
  align-items: flex-start;
  font-size: 30px;
  color: $torrentTextColor;
}
.download-section {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  
  button {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 9px;
    overflow: hidden;

    &:hover {
      #down-1 {      
        transform: translateY(16px);
        opacity: 1;
      }
      #down-2 {
        transform: translateY(25px);
        opacity: 0;
      }
    }

    &:active {
      transform: translateY(2px);
    }
  }

  span {
    font-size: 24px;
    font-weight: 500;
  }
}
.icon {
  max-width: fit-content;
  // height: fit-content;
  // padding-left: 20px;
  // padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  * {
    left: 0;
    transition: all 450ms ease-in;
    transform: translateX(-2px);
  }
  
  #down-1 {
    transform: translateY(-20px);
    opacity: 0;
  }

  #down-2 {
    transform: translateY(-12px);
    opacity: 1;
  }

}
.info-container {
  width: auto;
  height: fit-content;
  background-color: $torrentInfoColor;
  color: $torrentTextColor;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 5px 13px 5px 13px;
  margin-top: 50px;
  overflow-wrap: break-word;
  border-radius: 10px;
  backdrop-filter: blur(1px);
}
